@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "_Layout";
}

@{ 
    var cart = ViewBag.cart as List<Item>;
    var total = ViewBag.total;
}

<div class="cart__wrapper">
    <h4>Giỏ hàng</h4>

    @if (cart != null && cart?.Count() > 0 && total != null)
    {
        <div class="cart__content">
            <div class="cart__products">
                @foreach (Item item in cart)
                 {
                    <div class="cart__product mb-2">
                        <img src="./images/@item.Product.Image" alt="Alternate Text" width="70" />
                        <span>@item.Product.Name</span>
                        <div class="product__quantity">
                            <a class="btn btn-light" asp-controller="cart" asp-action="decrease" asp-route-id="@item.Product.Id">-</a>
                            <div class="quantity">@item.Quantity</div>
                            <a class="btn btn-light" asp-controller="cart" asp-action="buy" asp-route-id="@item.Product.Id">+</a>
                        </div>

                        <div style="min-width: fit-content; margin: auto 0;">
                            <div style="font-weight: bold; font-size: 18px;">
                                @if (item.Product.HotPrice != null)
                                {
                                    @item.Product.HotPrice?.ToString("0,000")
                                }
                                else
                                {
                                    @item.Product.Price.ToString("0,000")
                                }
                                đ
                            </div>
                            <div style="text-decoration: line-through;">
                                @if (item.Product.HotPrice != null)
                                {
                                    <span>@item.Product.Price.ToString("0,000") đ</span>
                                }
                            </div>
                        </div>

                        <a class="btn btn-link" asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">
                            <i class="bi bi-trash" style="font-size: 20px;"></i>
                        </a>
                    </div>
                 }



                @*<div class="cart__product">
            <img src="./images/p1.png" alt="Alternate Text" width="70" />
            <span>Laptop HP VICTUS 16-e0168AX 4R0U6PA ( 16.1" Full HD/ 144Hz/Ryzen 7 5800H/8GB/512GB SSD/NVIDIA GeForce RTX 3050Ti/Windows 11 Home SL/2.4kg)</span>
            <div class="product__quantity">
                <button>-</button>
                <div class="quantity">1</div>
                <button>+</button>
            </div>

            <div style="min-width: fit-content; margin: auto 0;">
                <div style="font-weight: bold; font-size: 18px;">28.990.000 đ</div>
                <div style="text-decoration: line-through;">29.990.000 đ</div>
            </div>

            <button class="btn btn-link">
                <i class="bi bi-trash" style="font-size: 20px;"></i>
            </button>
        </div>*@
            </div>

            <div class="cart__payment">
                <h4>Thanh toán</h4>
                <div class="d-flex justify-content-between">
                    <div>Tạm tính</div>
                    <div>@total.ToString("0,000") đ</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>Thành tiền</div>
                    <div class="total-price">@total.ToString("0,000") đ</div>
                </div>
                <div class="text-right">(Đã bao gồm VAT)</div>

                <div class="text-center">
                    <button>Thanh toán</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <img src="~/images/emptycart.png" alt="empty cart" />
            <p>Không có sản phẩm nào trong giỏ</p>
        
            <a class="btn btn-danger" asp-controller="product" asp-action="index">Tiếp tục mua sắm</a>
        </div>
    }
</div>



