@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Quản lí sản phẩm";
}

@{
    Pager pager = new Pager();

    int pageNo = 1;

    if(ViewBag.pager != null) {
        pager = ViewBag.pager;
        pageNo = pager.CurrentPage;
    }

    var products = ViewBag.products as List<Product>;
}

<div>
    <h3>Quản lí sản phẩm</h3>

    <a asp-controller="admin">Thêm sản phẩm</a>

    <div class="admin__search">
        <input type="text" placeholder="Nhập từ khoá cần tìm" />
        <button>
            <i class="bi bi-search"></i>
        </button>

        <a style="margin-left: 20px; align-self: center;" asp-controller="admin">--Trở lại--</a>
    </div>

    <table>
        <tr>
            <th>Mã</th>
            <th>Ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Hành động</th>
        </tr>
        @if (pager.TotalPages > 0)
        {
            @foreach (Product product in products)
            {
                <tr style="text-align: center;">
                    <td style="width: 40px;">@product.Id</td>
                    <td>
                        <img width="60" src="/images/@product.Image" alt="@product.Name" />
                    </td>
                    <td style="max-width: 350px; text-align: left;">@product.Name</td>
                    <td>
                        <button class="btn btn-info">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button class="btn btn-secondary">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
    </table>

    @if (pager.TotalPages > 0)
    {
        <ul class="pagination mt-4 d-flex justify-content-center">
            @if (pager.CurrentPage > 1)
             {
                <li class="page-item"><a class="page-link" asp-controller="admin" asp-action="products" asp-route-page="@(pager.CurrentPage - 1)">Trang trước</a></li>
             }
            
            
            @for (int page = pager.StartPage; page <= pager.EndPage; page++)
             {
                <li class="page-item @(page == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="admin" asp-action="products" asp-route-page="@(page)">@(page)</a>
                </li>
             }
        
             @if (pager.CurrentPage >= 1 && pager.CurrentPage < pager.TotalPages)
              {
                 <li class="page-item"><a class="page-link" asp-controller="admin" asp-action="products" asp-route-page="@(pager.CurrentPage + 1)">Trang sau</a></li>
              }
            @*<li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>*@
        </ul>
    }
</div>